
h1, h3{
   color: rgb(253, 252, 252);
}

.background {

top: 0;
width: 100%;
height: 100%;
background-size: cover;
background-image: url('../pictures/cool2.jpg');
}

p{

   padding-right: 10px;
   color: rgb(29, 14, 236);
}
